.topbar
{
    width:100%;
    height: 8vh;
    min-height: 2.7rem;
    background-color: rgb(2, 48, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.page_container
{
    width:100%;
    height: 91vh;
    background-color: dimgray;
    color:blanchedalmond;
    padding-top: 1vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll;
}
.img_overlay
{
    min-width: 600px;
    width: 55vw;
    opacity: 0.75;
    position: absolute;
    top:0;
    visibility: hidden;
}
.houses_button
{

    width:100%;
    min-width: 300;
    height:4vh;
    position: relative;
    float: left;
    background-color: darkblue;
    border: 2px solid black;
    border-radius: 8px;
    margin-top:1vh;
    text-align: center;
    overflow: scroll;
}


.button_topbar
{
    height:2rem;
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;
    color: blanchedalmond;
}

.text_box
{
    background-color:rgba(43,43,43,0.33);
    float: left;
    margin-left: 0.5%;
}

html
{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
}
p
{
    font-size: 1rem;
}
h1
{
    margin:0;
}